@media (max-width:1200px)
{
    .layout{
        max-width: 1000px;
    }

    .nav__list{
        gap: 4rem;
    }

    .banner__title{
        font-size: 6rem;
    }

    .services__service{
        padding: 4rem 1.5rem;
    }

    .projects__all{
        gap: 3rem;
    }

    .layout__stats,
    .layout__clients{
        padding: 10rem 7rem;
    }

    .clients__title{
        width: 70%;
    }

    .clients__description{
        width: 60%;
    }

    .layout__news{
        padding: 10rem 4rem;
    }

    .news__list{
        flex-direction: column;
    }

    .news__new:last-child{
        border-left: none;
        padding-left: 0;
    }

    .layout__contact{
        padding: 10rem 4rem 7rem;
    }

    .footer__right{
        gap: 1rem;
    }
}